/* https://colorhunt.co/palette/b5d5c5b08bbbeca869f5f5dc */
/* https://colorhunt.co/palette/ada2ffc0deffffe5f1fff8e1 */
/* V Active pallete V */
/* https://colorhunt.co/palette/f0e9d2CA9696ff678983A38783ff */

/* reference site: https://mattfarley.ca/ */


body {
    font-family: 'Rubik', sans-serif;
    background-color: #CA9696ff;
}

h1, h2 {
    font-family: 'Josefin Sans', sans-serif;
    padding-top: .5em;
}

a {
    color: #211E1Cff;
    
}

a:hover {
    color:#678983;
}

#title, #contact, #audio, #programming {
    background-color: #CA9696ff;
    color: #A38783ff;
    padding: 5em 2em;
    text-align: center;
}

#footer {
    text-align: center;
    background-color: #A38783ff;
    color:#F0E9D2;
    padding-top: 1em;
    padding-bottom: 0;
}

.nav {
    background-color: #A38783ff;
    border-color: #CA9696ff !important;
}

.nav-link {
    color: #F0E9D2;  
    background-color: #CA9696ff;
    font-size: 2em;
}
.nav-link:hover {
    color: #678983;
}

.active{
    background-color: #CA9696ff !important;
    border-color: #CA9696ff !important;
    color: #A38783ff; 
}

.dropdown-menu {
    background-color: #CA9696ff;
    color:#A38783ff;
    font-size: 2em;
    text-align: center;
    padding: 0;
    margin: 0;
}

.dropdown-menu a:hover {
    background-color: #F0E9D2;
    color: #211E1Cff;
}

.dropdown-toggle[aria-expanded="true"] {
    color:#678983;
}

.dropdown-item.active {
    color:#F0E9D2;
    background-color: #9b9788 !important;
    padding: 0;
    margin: 0;
}

.dropdown-item.active:hover {
    color:#F0E9D2;
}

.dropdown-divider {
    padding: 0;
    margin: 0;
}

.title-text {
    padding: 0;
    margin: 0;
}

.main-title{
    font-family: 'Caveat', cursive;
    font-size: 6em;
}

.about {
    padding: 2.5em .5em;
    margin: .5em;
    text-align: center;
    list-style-position: inside;
}

.service-list-container {
    text-align: center;
}

.service-list {
    display: inline-block;
    text-align: left;
}

.education {
    text-align: left;
}

.title-image {
    padding: 1em;
    border-radius: 40%;
    max-width: 30em;
}

.contact-link {
    padding: 1em .5em;
}

.audio-embed {
    padding: .5em;
}

.youtube-embed {
    padding: 2em;
}

.programming-icon {
    font-size: 9em;
    color:#A38783ff;
}

.social-icon {
    color: #F0E9D2;
    font-size: 1.2em;
    margin: auto .5em;
}

.copyright {
    font-size: .8em;
    padding-top: 1em;
    padding-bottom: 0;
}